body {
    background-color: #eee;
}

.logo {
    text-align: center;
    margin-top: -180%;
    color: #eee ;
    font-size: 19px;
    font-weight: bold;
}

.navline {
    border-color: #eeeeee;
}

.navbar-fixed-left {
    width: 170px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;
    width: 139px;
    margin-bottom: 20px;
}

.navbar-fixed-left + .container {
    padding-left: 40px;
}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}

.jumbotron{
    margin-left: 140px;
}

.form-group {
    margin-top: 20px;
}

.form-control {
    width: 1000px;
}

.control-label {
    margin-right: 100%;
}

thead {
    background-color: #3c3c3c;
    color: white;
}

th {
    text-align: center;
}

.dtNas {
    margin-left: 120px;
    margin-right: 80%;
}

.lDtNas {
    margin-left: -20px;
}

textarea {
    resize: none;
    height: 200%;
}

.was-validated input.ng-invalid.ng-touched {
    border-color: red;
}