.logo {
    text-align: center;
    color: #D3D3D3 ;
}

.navbar-fixed-left {
    width: 140px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;
    width: 139px;
}

.navbar-fixed-left + .container {
    padding-left: 40px;
}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
}

.jumbotron{
    margin-left: 140px;
}

.form-group {
    margin-top: 40px;
}

.control-label {
    margin-right: 100%;
}