<div ng-controller="EscolaEditarController" class="jumbotron text-center">
    <h1 class="text-center">Editar Escola</h1>
    <hr />
    <form class="was-validated" novalidate name="escolaForm">
        <div class="form-group container">
            <label class="control-label" for="id">Id</label>
            <input type="text" ng-model="escola.id" class="form-control" name="id" id="id" placeholder="ID" ng-disabled="true">
        </div>
        <campo-texto type="text" max="255" id="nome" label="Nome" ng-model="escola.nome" ng-pattern="nomePattern" ng-required="true"></campo-texto>
        <campo-select-usuarios id="diretor" label="Diretor" ng-model="escola.diretor.id"></campo-select-usuarios>
        <campo-textarea id="Descricao" max="300" label="Descrição" ng-model="escola.descricao" ng-pattern="descricaoPattern"></campo-textarea>
        <div class="form-group container">
            <label class="control-label" for="status">Status</label>
            <select class="form-control" name="status" id="status" ng-model="escola.status">
                <option ng-value="true">Ativa</option>
                <option ng-value="false">Inativa</option>
            </select>
        </div>
        <hr />
        <div class="form-group text-center">
            <button type="button" class="btn btn-default" ui-sref="escolaListar">Cancelar</button>
            <button ng-click="editarEscola(escola.id, escola)" class="btn btn-primary" ng-disabled="escolaForm.$invalid" ui-sref="escolaListar">Salvar</button>
        </div>
    </form>
</div>