<div ng-controller="EscolaEditarController" class="jumbotron text-center">
    <h1 class="text-center">Editar Escola</h1>
    <hr />
    <form name="escolaForm">
        <div class="form-group container">
            <label class="control-label" for="id">Id</label>
            <input type="text" ng-model="escola.id" class="form-control" name="id" id="id" placeholder="ID" ng-disabled="true">
        </div>
        <div class="form-group container">
            <label class="control-label" for="nome">Nome</label>
            <input type="text" ng-model="escola.nome" class="form-control" name="nome" id="nome" placeholder="Nome" ng-required="true">
        </div>
        <div ng-show="escolaForm.nome.$error.required && escolaForm.nome.$dirty" class="alert alert-danger">
            Por favor, preencha o campo nome!
        </div>
        <div class="form-group container" ng-controller="UsuarioListarController">
            <label class="control-label" for="diretores">Diretor</label>
            <select class="form-control" name="diretores" id="diretores" ng-required="true" ng-model="escola.diretor" ng-options="usuario.nome for usuario in usuarios track by usuario.id">
                <option value="">Selecione...</option>
            </select>
        </div>
        <div class="form-group container">
            <label class="control-label" for="descricao">Descrição</label>
            <textarea class="form-control" ng-model="escola.descricao" maxlength="300" name="descricao" id="descricao" placeholder="Descrição" rows="3"></textarea>
        </div>
        <div class="form-group container">
            <label class="control-label" for="status">Status</label>
            <select class="form-control" name="status" id="status" ng-model="escola.status">
                <option ng-value="true">Ativo</option>
                <option ng-value="false">Inativo</option>
            </select>
        </div>
        <hr />
        <div class="form-group text-center">
            <button type="button" class="btn btn-default" ui-sref="escolaListar">Cancelar</button>
            <button ng-click="editarEscola(escola.id, escola)" class="btn btn-primary" ng-disabled="escolaForm.$invalid" ui-sref="escolaListar">Salvar</button>
        </div>
    </form>
</div>