<div ng-controller="MateriaListarController" class="jumbotron text-center">
  <h1 class="text-center">Matérias</h1>
  <hr />
  <div>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th colspan="4"><h3>Lista de Matérias</h3></th>
        <th>
          <button title="Cadastrar Matéria" class="btn btn-primary btn-block" ui-sref="materiaIncluir"><h6><b>Adicionar Matéria</b></h4></button>
        </th>
      </tr>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Professor</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="materia in materias | orderBy:'id'">
        <td>{{materia.id}}</td>
        <td>{{materia.nome}}</td>
        <td>{{materia.descricao}}</td>
        <td>{{materia.professor.nome}}</td>
        <td>
          <a type="button" title="Editar" class="btn btn-info glyphicon glyphicon-pencil" ui-sref="materiaEditar({id: materia.id})">Editar</a>
          <button type="button" class="btn btn-danger" ng-click="deletarMateria(materia.id)">Deletar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>