<div ng-controller="MateriaEditarController" class="jumbotron text-center">
    <h1 class="text-center">Editar Matéria</h1>
    <hr />
    <form class="was-validated" novalidate name="materiaForm">
        <div class="form-group container">
            <label class="control-label" for="id">Id</label>
            <input type="text" ng-model="materia.id" class="form-control" name="id" id="id" placeholder="ID" ng-disabled="true">
        </div>
        <campo-nome type="text" max="255" id="nome" label="Nome" ng-model="materia.nome" ng-pattern="nomePattern" ng-required="true"></campo-nome>
        <campo-textarea id="Descricao" max="2500" label="Descrição" ng-model="materia.descricao" ng-pattern="descricaoPattern"></campo-textarea>
        <campo-select-usuarios id="professor" label="Professor" ng-model="materia.professor.id"></campo-select-usuarios>
        <hr />
        <div class="form-group text-center">
            <button type="button" class="btn btn-default" ui-sref="materiaListar">Cancelar</button>
            <button ng-click="editarMateria(materia.id, materia)" class="btn btn-primary" ng-disabled="materiaForm.$invalid" ui-sref="materiaListar">Salvar</button>
        </div>
    </form>
</div>