<div ng-controller="MateriaListarController" class="jumbotron text-center">
  <h1 class="text-center">Matérias</h1>
  <hr />
  <div>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th colspan="4"><h3>Lista de Matérias</h3></th>
        <th>
          <button title="Cadastrar Matéria" class="btn btn-primary btn-block" ui-sref="materiaIncluir"><h4 class="glyphicon glyphicon-plus"><b>&nbspNovo</b></h4></button>
        </th>
      </tr>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Professor</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="materia in materias | orderBy:'id'">
        <td>{{materia.id}}</td>
        <td>{{materia.nome}}</td>
        <td>{{materia.descricao}}</td>
        <td>{{materia.professor.nome}}</td>
        <td>
          <a type="button" title="Editar" class="btn btn-info glyphicon glyphicon-pencil" ui-sref="materiaEditar({id: materia.id})"></a>
          <button type="button" title="Deletar" class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal" data-target="#deletarModal{{materia.id}}"></button>

          <!-- Modal Deletar -->
          <div class="modal fade" id="deletarModal{{materia.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title"><b>Deletar Matéria</b></h2>
                </div>
                <div class="modal-body">
                  <h4>Deseja realmente deletar a matéria: </h4>
                  <br/>
                  <h3>{{materia.nome}}</h3>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger" ng-click="deletarMateria(materia.id)">Deletar</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>