<div class="jumbotron text-center">
    <h1 class="text-center">Alunos</h1>
    <hr />
    <div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th colspan="6"><h3>Lista de Alunos</h3></th>
                <th>
                    <button title="Cadastrar Aluno" class="btn btn-primary btn-block" ui-sref="alunoIncluir"><h6><b>Adicionar Aluno</b></h6></button>
                </th>
            </tr>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Idade</th>
                    <th>Matrícula</th>
                    <th>Data da matrícula</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aluno in alunos | orderBy:'id'">
                    <td>{{aluno.id}}</td>
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.email}}</td>
                    <td>{{aluno.idade}}</td>
                    <td>{{aluno.matricula}}</td>
                    <td>{{aluno.dataDaMatricula | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <a type="button" title="Editar" class="btn btn-info glyphicon glyphicon-pencil" ui-sref="alunoEditar({id: aluno.id})">Editar</a>
                        <button type="button" class="btn btn-danger" ng-click="deletarAluno(aluno.id)">Deletar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>