<div ng-controller="AlunoEditarController" class="jumbotron text-center">
    <h1 class="text-center">Editar Aluno</h1>
    <hr />
    <form name="alunoForm">
        <div class="form-group container">
            <label class="control-label" for="nome">Id</label>
            <input type="text" ng-model="aluno.id" class="form-control" name="id" id="id" ng-disabled="false">
        </div>
        <div class="form-group container">
            <label class="control-label" for="nome">Nome</label>
            <input type="text" ng-model="aluno.nome" class="form-control" name="nome" id="nome" placeholder="Nome" ng-required="true">
        </div>
        <div ng-show="alunoForm.nome.$error.required && alunoForm.nome.$dirty" class="alert alert-danger">
            Por favor, preencha o campo nome!
        </div>
        <div class="form-group container">
            <label class="control-label" for="email">Email</label>
            <input type="email" ng-model="aluno.email" class="form-control" name="email" id="email" placeholder="Email" ng-required="true">
        </div>
        <div ng-show="alunoForm.email.$error.required && alunoForm.email.$dirty" class="alert alert-danger">
            Por favor, preencha o campo email!
        </div>
        <div class="form-group container">
            <label class="control-label" for="idade">Idade</label>
            <input type="number" ng-model="aluno.idade" class="form-control" name="idade" id="idade" placeholder="Idade">
        </div>
        <hr />
        <div class="form-group text-center">
            <button ng-click="adicionarAluno(aluno)" class="btn btn-primary" ng-disabled="alunoForm.$invalid">Salvar</button>
        </div>
    </form>
</div>