<div ng-controller="TurmaEditarController" class="jumbotron text-center">
    <h1 class="text-center">Cadastrar Turma</h1>
    <hr />
    <form class="was-validated" novalidate name="turmaForm">
        <div class="form-group container">
            <label class="control-label" for="id">Id</label>
            <input type="text" ng-model="turma.id" class="form-control" name="id" id="id" placeholder="ID" ng-disabled="true">
        </div>
        <campo-nome type="text" id="Nome" label="Nome" ng-model="turma.nome" ng-pattern="nomePattern"></campo-nome>
        <campo-select-curso id="Curso" label="Curso" ng-model="turma.curso.id" sigla="turma.curso.sigla"></campo-select-curso>
        <campo-turma-matricula type="text" id="Matricula" label="Matricula" ng-model="turma.matricula" turma-id="turma.id" sigla="turma.curso.sigla"></campo-turma-matricula>
        <campo-select-alunos id="alunos" label="Alunos" ng-model="turma.alunosIds"></campo-select-alunos>

        <hr />
        <div class="form-group text-center">
            <button type="button" class="btn btn-default" ui-sref="turmaListar">Cancelar</button>
            <button ng-click="editarTurma()" class="btn btn-primary" ng-disabled="turmaForm.$invalid" ui-sref="turmaListar">Salvar</button>
        </div>
    </form>
</div>