<div ng-controller="TurmaIncluirController" class="jumbotron text-center">
    <h1 class="text-center">Cadastrar Turma</h1>
    <hr />
    <form  class="was-validated" novalidate name="turmaForm">

        <campo-nome type="text" id="nome" label="Nome" ng-model="turma.nome" ng-pattern="nomePattern"></campo-nome>

        <campo-select-curso id="curso" label="Curso" ng-model="turma.curso.id" ></campo-select-curso>

        <campo-nome type="text" id="matricula" label="Matricula" ng-model="turma.matricula" ng-readonly="true" ng-disabled="true"></campo-nome>

        <campo-select-alunos id="alunos" label="Alunos" ng-model="turma.alunosIds"></campo-select-alunos>

        <hr />
        <div class="form-group text-center">
            <button type="button" class="btn btn-default" ui-sref="turmaListar">Cancelar</button>
            <button ng-click="incluirTurma()" class="btn btn-primary" ng-disabled="turmaForm.$invalid">Cadastrar</button>
        </div>
    </form>
</div>