<div ng-controller="TurmaIncluirController" class="jumbotron text-center">
    <h1 class="text-center">Cadastrar Turma</h1>
    <hr />
    <form name="turmaForm">
        <div class="form-group container">
            <label class="control-label" for="nome">Nome</label>
            <input type="text" ng-model="turma.nome" class="form-control" name="nome" id="nome" placeholder="Nome" maxlength="255" ng-required="true"/>
        </div>
        <div ng-show="turmaForm.nome.$error.required && turmaForm.nome.$dirty" class="alert alert-danger">
            Por favor, preencha o campo nome!
        </div>
        <div class="form-group container" ng-controller="CursoListarController">
            <label class="control-label" for="cursos">Curso</label>
            <select class="form-control" name="cursos" id="cursos" ng-model="turma.curso.id">
                <option value="">Selecione...</option>
                <option ng-repeat="curso in cursos" ng-value="curso.id">{{curso.nome}}</option>
            </select>
        </div>
        <div class="form-group container">
            <label class="control-label" for="matricula">Matrícula</label>
            <input type="text" ng-model="turma.matricula" class="form-control" name="matricula" id="matricula" placeholder="Matricula" maxlength="5" ng-required="true"/>
        </div>
        <div class="form-group container" ng-controller="AlunoListarController">
            <label class="control-label" for="alunos">Alunos</label>
            <select class="form-control" name="alunos" id="alunos" ng-model="turma.materiasIds" multiple>
                <option ng-repeat="aluno in alunos" ng-value="aluno.id">{{aluno.nome}}</option>
            </select>
        </div>
        <hr />
        <div class="form-group text-center">
            <button type="button" class="btn btn-default" ui-sref="turmaListar">Cancelar</button>
            <button ng-click="incluirTurma()" class="btn btn-primary" ng-disabled="turmaForm.$invalid">Cadastrar</button>
        </div>
    </form>
</div>