<div ng-controller="TurmaIncluirController" class="jumbotron text-center">
    <h1 class="text-center">Cadastrar Turma</h1>
    <hr />
    <form  class="was-validated" novalidate name="turmaForm">
        <campo-nome type="text" id="Nome" label="Nome" ng-model="turma.nome" ng-pattern="nomePattern"></campo-nome>
        <campo-nome type="text" max="5" id="sigla" label="Sigla" ng-model="turma.sigla" ng-pattern="siglaPattern"></campo-nome>
        <campo-select-curso id="Curso" label="Curso" ng-model="turma.curso.id" sigla="turma.curso.sigla"></campo-select-curso>
        <campo-select-alunos id="alunos" label="Alunos" ng-model="turma.alunosIds"></campo-select-alunos>
        <hr />
        <div class="form-group text-center">
            <button type="button" class="btn btn-default" ui-sref="turmaListar">Cancelar</button>
            <button ng-click="incluirTurma()" class="btn btn-primary" ng-disabled="turmaForm.$invalid">Cadastrar</button>
        </div>
    </form>
</div>