<div ng-controller="UsuarioListarController" class="jumbotron text-center">
    <h1 class="text-center">Usuários</h1>
    <hr />
    <div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th colspan="4"><h3>Lista de Usuários</h3></th>
                <th>
                    <button title="Cadastrar Usuário" class="btn btn-primary btn-block" ui-sref="usuarioIncluir"><h6><b>Adicionar Usuário</b></h6></button>
                </th>
            </tr>
            <tr>
                <th>Id</th>
                <th colspan="2">Nome</th>
                <th>Data de Nascimento</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="usuario in usuarios | orderBy:'id'">
                <td>{{usuario.id}}</td>
                <td colspan="2">{{usuario.nome}}</td>
                <td>{{ usuario.dataNascimento | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <a type="button" title="Editar" class="btn btn-info glyphicon glyphicon-pencil" ui-sref="usuarioEditar({id: usuario.id})">Editar</a>
                    <button type="button" class="btn btn-danger" ng-click="deletarUsuario(usuario.id)">Deletar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>