<div ng-controller="UsuarioEditarController" class="jumbotron text-center">
    <h1 class="text-center">Editar Usuário</h1>
    <hr />
    <form class="was-validated" name="usuarioForm" novalidate>
        <div class="form-group container">
            <label class="control-label" for="id">Id</label>
            <input type="text" ng-model="usuario.id" class="form-control" name="id" id="id" placeholder="ID" ng-disabled="true">
        </div>
        <campo-texto type="text" id="nome" label="Nome" ng-model="usuario.nome"></campo-texto>
        <campo-texto type="date" id="dataNascimento" label="Data de nascimento" ng-model="usuario.dataNascimento"></campo-texto>
        <hr />
        <div class="form-group text-center">
            <button type="button" class="btn btn-default" ui-sref="usuarioListar">Cancelar</button>
            <button ng-click="editarUsuario(usuario.id, usuario)" class="btn btn-primary" ng-disabled="usuarioForm.$invalid" ui-sref="usuarioListar">Salvar</button>
        </div>
    </form>
</div>