<div ng-controller="UsuarioIncluirController" class="jumbotron text-center">
  <h1 class="text-center">Cadastrar Usuário</h1>
  <hr />
  <form class="was-validated" novalidate name="usuarioForm">
    <campo-nome type="text" id="nome" label="Nome" ng-model="usuario.nome"></campo-nome>
    <campo-nome type="date" id="dataNascimento" label="Data de nascimento" ng-model="usuario.dataNascimento"></campo-nome>
    <hr />
    <div class="form-group text-center">
      <button type="button" class="btn btn-default" ui-sref="usuarioListar">Cancelar</button>
      <button ng-click="incluirUsuario(usuario)" class="btn btn-primary" ng-disabled="usuarioForm.$invalid" ui-sref="usuarioListar">Cadastrar</button>
    </div>
  </form>
</div>