<div ng-controller="alunoController" class="jumbotron text-center">
    <h1 class="text-center">Lista de Alunos</h1>
    <hr />
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Idade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aluno in alunos">
                    <td>{{aluno.id}}</td>
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.email}}</td>
                    <td>{{aluno.idade}}</td>
                    <td>
                        <button type="button" class="btn btn-info">Editar</button>
                        <button type="button" class="btn btn-danger">Deletar</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>