<div ng-controller="alunoController" class="jumbotron text-center">
    <h1 class="text-center">Lista de Alunos</h1>
    <hr />
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Idade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aluno in alunos">
                    <td>{{aluno.id}}</td>
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.email}}</td>
                    <td>{{aluno.idade}}</td>
                    <td>
                        <button type="button" title="Editar" class="btn btn-info glyphicon glyphicon-pencil" ng-click="editarAluno(aluno.id,aluno)" data-toggle="modal" data-target="#moldalEditar" data-whatever="@mdo"></button>
                        <button type="button" title="Deletar" class="btn btn-danger glyphicon glyphicon-trash" ng-click="deletarAluno(aluno.id)"></button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<div class="modal fade" id="moldalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Editar Aluno</h2>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Id:</label>
                        <input type="text" class="form-control" ng-model="aluno.id" ng-disabled="false">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Nome:</label>
                        <input type="text" class="form-control" ng-model="aluno.nome">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Email:</label>
                        <input type="email" class="form-control" ng-model="aluno.email">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Idade:</label>
                        <input type="number" class="form-control" ng-model="aluno.idade">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="editarAluno(aluno.id, aluno)">Salvar</button>
            </div>
        </div>
    </div>
</div>