<div class="jumbotron text-center">
    <h1 class="text-center">Cursos</h1>
    <hr />
    <div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th colspan="6"><h3>Lista de Cursos</h3></th>
                <th>
                    <button title="Cadastrar Curso" class="btn btn-primary btn-block" ui-sref="cursoIncluir"><h6><b>Adicionar Curso</b></h6></button>
                </th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sigla</th>
                <th>Coordenador</th>
                <th>Escola</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="curso in cursos | orderBy:'id'">
                <td>{{curso.id}}</td>
                <td>{{curso.nome}}</td>
                <td>{{curso.sigla}}</td>
                <td>{{curso.coordenador.nome}}</td>
                <td>{{curso.escola.nome}}</td>
                <td>{{curso.descricao}}</td>
                <td>
                    <a type="button" title="Editar" class="btn btn-info glyphicon glyphicon-pencil" ui-sref="cursoEditar({id: curso.id})">Editar</a>
                    <button type="button" class="btn btn-danger" ng-click="deletarCurso(curso.id)">Deletar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>